.product-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; 
  backdrop-filter: blur(3px);
  animation: fadeIn 0.3s ease;
  padding: 20px; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.product-modal {
  background: #fff;
  width: 100%;
  max-width: 520px;
  border-radius: 16px;
  padding: 16px 20px;
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.18);
  position: relative;
  font-family: 'Segoe UI', sans-serif;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 26px;
  border: none;
  background: none;
  cursor: pointer;
  color: #4A243D;
  transition: color 0.2s ease;
}

.modal-close-button:hover {
  color: #4A243D;
}

.modal-image {
  width: 55%;
  margin-left: 20%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}

h2 {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 18px;
  color: #2c3e50;
}

.brand,
.description {
  color: #43474b;
  font-size: 13px;
  margin-bottom: 6px;
}

.modal-inputs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 16px 0;
}

.modal-inputs label {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #333;
}

.modal-inputs select,
.modal-inputs input {
  padding: 6px 8px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 4px;
}

.price {
  font-size: 16px;
  font-weight: 700;
  color: #27ae60;
  margin-bottom: 6px;
}

.discount {
   background: rgb(240, 50, 50);
  color: white;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 13px;
  margin-bottom: 12px;
  display: inline-block;
}

.add-to-cart {
  width: 100%;
  padding: 10px;
  background-color: #4A243D;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-to-cart:hover {
background-color:#C4AADA;
  border: 2px solid #4A243D;
  color:  #4A243D;
}
